/*-------------------------------------------
---------- Colour Houses Section ------------
-------------------------------------------*/
section#colour-houses div.hero-body3 {
  background-image: url("../src/colourful-houses.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}