footer h1,
footer p,
footer a,
footer i {
  color: white !important;
}

footer a:hover {
  color: var(--v-yellow);
  transform: scale(0.8);
  transition: transform .2s linear;
}

footer .sun {
  position: absolute;
  top: 0px;
  right: 100px;
}

footer div.weather-card {
  min-height: 210px;
}

footer div.weather-card div.weather-details p,
footer div.weather-card div.weather-forecast p {
  font-size: 0.75rem;
}

footer div.weather-card div.weather-source p {
  font-size: 0.6rem;
}

footer div.mountains {
  height: 320px;
}

@media screen and (max-width: 768px) {

  footer .social-card .title {
    text-align: center;
  }

  footer .social-icons {
    font-size: 2em;
  }

  footer .sun {
    right: 20px;
  }

  footer .mountains {
    padding-top: 30px;
  }

}