/*-------------------------------------------
---------- Hero Section ---------------------
-------------------------------------------*/
section#main-hero div.title {
  position: absolute;
  z-index: 4;
}

section#main-hero h1.title {
  /*
  font-family: 'Tangerine', cursive;
  font-family: 'Marck Script', cursive;
  font-family: 'EiffelStory';
  font-family: 'MadistaCalligraphy';
  */
  font-family: 'Angelicy'; 
  font-size: 150px;
  animation: zoomInUp;
  animation-duration: 1.5s;
  text-shadow: black 2px 2px 0px;
}

section#main-hero h2.subtitle {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 1s linear;
}

section#main-hero div#home-slider.splide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../src/hero-pattern.png);
  background-repeat: repeat;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  section#main-hero h1.title {
    font-size: 4.5rem;
  }
}