/*-------------------------------------------
---------- Interactive Map Section ----------
-------------------------------------------*/
@-webkit-keyframes sonar {
  from {
    box-shadow: 0 0 0 0 var(--v-yellow), 0 0 4px 2px rgba(0, 0, 0, 0.4);
  }

  to {
    box-shadow: 0 0 0 10px rgba(255, 147, 223, 0), 0 0 4px 2px rgba(0, 0, 0, 0.4);
  }
}

@keyframes sonar {
  from {
    box-shadow: 0 0 0 0 var(--v-yellow), 0 0 4px 2px rgba(0, 0, 0, 0.4);
  }

  to {
    box-shadow: 0 0 0 10px rgba(255, 147, 223, 0), 0 0 4px 2px rgba(0, 0, 0, 0.4);
  }
}

section#interactive-map {
  background-image: url("../../src/valparaiso-noche.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  max-height: 717px;
}

section#interactive-map::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--v-blue);
  opacity: .6;
}

section#interactive-map div.toogle-maps {
  position: absolute;
  top: 35px;
  right: 60px;
  z-index: 4;
}

section#interactive-map div.toogle-maps button {
  border-radius: 0px;
  margin-bottom: 0;
}

section#interactive-map div.hotspots {
  position: relative;
}

section#interactive-map div.hotspots img {
  max-width: 1180px;
  max-height: 717px;
  width: 100vw;
  height: auto;
}

section#interactive-map div.hotspot {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

section#interactive-map div.hotspot div.is-hill {
  background-image: url("../../src/icon-hill.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80%;
  height: 80%;
  position: absolute;
  left: 3px;
}

section#interactive-map div.hotspot div.is-funicular {
  background-image: url("../../src/icon-funicular.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80%;
  height: 80%;
  position: absolute;
  left: 3px;
}

section#interactive-map div.hotspot.sonar {
  border-radius: 50%;
  border: 2px solid var(--v-red);
  -webkit-animation: sonar 800ms ease-out infinite;
  animation: sonar 800ms ease-out infinite;
}

section#interactive-map div#g-map {
  max-height: 717px;

  visibility: hidden;
}

@media screen and (max-width: 768px) {

  section#interactive-map {
    max-height: 438px;
  }

  section#interactive-map div.hotspots.map img,
  section#interactive-map div#g-map {
    max-height: 390px;
  }

  section#interactive-map div.hotspots.map {}

  section#interactive-map div.toogle-maps {
    margin-top: 8px;
    position: static;
  }

  section#interactive-map div.toogle-maps button,
  section#interactive-map div.toogle-maps button.is-outlined:hover {
    display: flex;
    width: 50%;
    background-color: var(--v-yellow);
    border-color: transparent;
    color: #fff;
  }

  section#interactive-map div.toogle-maps button.is-outlined {
    background-color: transparent;
    border-color: var(--v-yellow);
    color: var(--v-yellow);
  }
}