/*-------------------------------------------
---------- Intro Section --------------------
-------------------------------------------*/
section#intro .title.watermark {
  text-transform: uppercase;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  font-size: 100px;
  text-align: center;
  z-index: -1;
}

section#intro .images-container {
  position: relative;
}

section#intro .images-container.in-front {
  z-index: 1;
}

section#intro .images-container>div.image {
  position: relative;
  width: 400px;
  height: 260px;
}

section#intro .images-container.in-front {
  margin-left: 60%;
  margin-top: -10%;
}

section#intro .images-container div.image.in-front {
  background-image: url("../../src/valparaiso-harbour-2015.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: rgba(75, 192, 225, .8) -25px 20px 0px;
  -webkit-box-shadow: rgba(75, 192, 225, .8) -25px 20px 0px;
  -moz-box-shadow: rgba(75, 192, 225, .8) -25px 20px 0px;
}

section#intro .images-container div.image.in-back {
  background-image: url("../../src/valparaiso-harbour-1925.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: rgba(75, 192, 225, .8) 20px 25px 0px;
  -webkit-box-shadow: rgba(75, 192, 225, .8) 20px 25px 0px;
  -moz-box-shadow: rgba(75, 192, 225, .8) 20px 25px 0px;
}

section#intro .images-container .image.in-front::after {
  content: "";
  position: absolute;
  background-image: url("../../src/shadow-480x320.jpg");
  width: 100%;
  height: 100%;
  bottom: -20px;
  left: -25px;
  z-index: -1;
}

section#intro .images-container .image.in-back::after {
  content: "";
  position: absolute;
  background-image: url("../../src/shadow-480x320.jpg");
  width: 100%;
  height: 100%;
  right: -20px;
  bottom: -25px;
  z-index: -1;
}