/*-------------------------------------------
---------- Nav Section ----------------------
-------------------------------------------*/
section#top nav.navbar.is-transparent {
  background-color: transparent;
  height: 100px;
  max-width: 100vw;
  transition: height .5s linear;
}

section#top .navbar-burger {
  margin-top: auto;
  margin-bottom: auto;
}

section#top nav.is-sticky .navbar-burger span {
  color: var(--v-blue) !important;
}

section#top nav.navbar>div {
  padding: 0 15px 0 15px;
}

section#top nav.navbar div.navbar-menu.is-active {
  background-color: rgba(22, 36, 63, .5);
  padding: 8px 15px;
}

section#top nav.navbar div.navbar-menu.is-active .buttons {
  justify-content: space-evenly;
}

section#top .navbar-brand img {
  max-height: 84px;
  transform: scale(1.0);
  transition: transform .5s linear;
}

section#top nav.navbar.is-sticky {
  background-color: rgba(75, 191, 224, .8);
  box-shadow: 0px 0px 6px var(--v-blue);
  -webkit-box-shadow: 0px 0px 6px var(--v-blue);
  -moz-box-shadow: 0px 0px 6px var(--v-blue);
  height: 52px;
  transition: height .5s linear;
}

section#top nav.navbar.is-sticky div.navbar-menu.is-active {
  background-color: rgba(75, 191, 224, .8);
}

section#top nav.navbar.is-sticky .navbar-brand {
  height: 52px;
}

section#top nav.navbar.is-sticky .navbar-brand img {
  transform: scale(.5);
  transition: transform .5s linear;
}

section#top nav.navbar.is-sticky .navbar-burger {
  margin-top: 0;
  margin-bottom: 0;
}