/*-------------------------------------------
---------- Street Art Photos Section --------
-------------------------------------------*/
section#street-art-images {
  margin-top: 0;
}

section#street-art-images img {
  height: 300px;
}