/*-------------------------------------------
---------- Video Section --------------------
-------------------------------------------*/
section#video div.start-video a {
  position: absolute;
}

section#video div.start-video i.fa-play-circle:hover {
  transform: scale(1.3);
  transition: transform .4s linear;
}

section#video div.start-video img {
  box-shadow: rgba(247, 234, 83, .8) 0 0 10px;
  border-radius: 4px;
}