/*-------------------------------------------
---------- Image Shadow ---------------------
-------------------------------------------*/
div.images-container div.image-shadow {
  display: flex;
}

div.images-container div.image-shadow.is-tr>img {
  box-shadow: var(--v-image-shadow) 25px -25px 0px;
  -webkit-box-shadow: var(--v-image-shadow) 25px -25px 0px;
  -moz-box-shadow: var(--v-image-shadow) 25px -25px 0px;
}

div.images-container div.image-shadow.is-rb>img {
  box-shadow: var(--v-image-shadow) 25px 25px 0px;
  -webkit-box-shadow: var(--v-image-shadow) 25px 25px 0px;
  -moz-box-shadow: var(--v-image-shadow) 25px 25px 0px;
}

div.images-container div.image-shadow.is-bl>img {
  box-shadow: var(--v-image-shadow) -25px 25px 0px;
  -webkit-box-shadow: var(--v-image-shadow) -25px 25px 0px;
  -moz-box-shadow: var(--v-image-shadow) -25px 25px 0px;
}

div.images-container div.image-shadow.is-lt>img {
  box-shadow: var(--v-image-shadow) -25px -25px 0px;
  -webkit-box-shadow: var(--v-image-shadow) -25px -25px 0px;
  -moz-box-shadow: var(--v-image-shadow) -25px -25px 0px;
}

div.images-container div.image-shadow.is-tr::after {
  content: "";
  position: absolute;
  background-image: url("../../src/shadow-480x320.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  bottom: 25px;
  left: 25px;
  z-index: -1;
}

div.images-container div.image-shadow.is-rb::after {
  content: "";
  position: absolute;
  background-image: url("../../src/shadow-480x320.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  bottom: -25px;
  left: 25px;
  z-index: -1;
}

div.images-container div.image-shadow.is-bl::after {
  content: "";
  position: absolute;
  background-image: url("../../src/shadow-480x320.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  bottom: -25px;
  left: -25px;
  z-index: -1;
}

div.images-container div.image-shadow.is-lt::after {
  content: "";
  position: absolute;
  background-image: url("../../src/shadow-480x320.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  bottom: 25px;
  left: -25px;
  z-index: -1;
}

/*-------------------------------------------
---------- What to do Section ---------------
-------------------------------------------*/
section#what-do {}

section#what-do div.container.what-do-item>div.columns {
  min-height: 600px;
  height: 600px;
}

section#what-do div.container.what-do-item>div.columns div.column {
  padding: 12px 20px 12px;
}

section#what-do div.container.what-do-item.street-art>div.columns {
  min-height: 400px;
  height: 400px;
}

section#what-do div.images-container {
  position: relative;
  display: flex;
  height: 100%;
  /*
  justify-content: center;
  align-items: center;
  */
}

section#what-do div.images-container div.img-1,
section#what-do div.images-container div.img-2,
section#what-do div.images-container div.img-3 {
  position: absolute;
  border-radius: 4px;
}

section#what-do div.images-container div.img-1 {
  z-index: 0;
  width: 75%;
  align-self: center;

  /*
  margin-bottom: 20%;
  margin-right: 30%;
  */
}

section#what-do div.images-container div.img-2 {
  z-index: -1;
  align-self: flex-end;
  right: 0;
  /*
  margin-left: 10%;
  margin-top: 40%;
  */
}

section#what-do div.images-container div.img-3 {
  z-index: 1;
  width: 50%;
  align-self: flex-start;
  right: 0;
  /*
  margin-bottom: 50%;
  margin-left: 50%;
  */
}

section#what-do div.container-right div {
  width: fit-content !important
}

section#what-do div.images-container.container-right div.img-1 {
  right: 0;
  /*
  margin-bottom: 20%;
  margin-right: 30%;
  */
}

section#what-do div.images-container.container-right div.img-2 {
  left: 0;
  /*
  margin-left: 10%;
  margin-top: 40%;
  */
}

section#what-do div.images-container.container-right div.img-3 {
  left: 0;
  /*
  margin-bottom: 50%;
  margin-left: 50%;
  */
}

section#what-do div.is-hidden-tablet img {
  height: 300px;
  width: 100%;
}

@media screen and (max-width: 769px) {

  section#what-do div.what-do-item>div {
    min-height: auto !important;
    height: auto !important;
  }

  section#what-do div.what-do-item.street-art>div {
    min-height: auto !important;
    height: auto !important;
  }

  section#what-do div.what-do-item {
    padding-top: 40px;
  }

  section#what-do div.what-do-item:last-child {
    padding-bottom: 30px;
  }

  section#what-do div.what-do-item .title,
  section#what-do div.what-do-item .subtitle {
    text-align: left;
  }
}