@import "../fonts/fonts.css";
@import "sections/nav.css";
@import "sections/hero.css";
@import "sections/intro.css";
@import "sections/colour-houses.css";
@import "sections/what-do.css";
@import "sections/street-art-photos.css";
@import "sections/interactive-map.css";
@import "sections/video.css";
@import "sections/footer.css";

/*-------------------------------------------
---------- Variables Section ----------------
-------------------------------------------*/
:root {
  --v-yellow: #f7ea53;
  --v-skyblue: #4bbfe0;
  --v-red: #e73c45;
  --v-blue: #16243f;
  --v-image-shadow: rgba(75, 192, 225, .8);
}

/*-------------------------------------------
---------- General  -------------------------
-------------------------------------------*/
h1.section-title {
  text-transform: uppercase;
  font-weight: 800;
  color: var(--v-blue);
}

h1.section-title~h2.subtitle {
  font-style: italic;
}

div.modal div.modal-content {
  height: 50%;
}

.is-no-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media screen and (max-width: 769px) {

  section#intro,
  section#what-do {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  section#what-do div.content {
    text-align: center;
  }

  section#video div.hero-body div.container div.columns {
    display: flex;
    flex-direction: column-reverse;
  }
}