@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

// Brand colours
$v-skyblue: #4bbfe0;
$v-yellow: #f7ea53;
$v-red: #e73c45;
$v-blue: #16243f;

// Bulma's global variables
$family-sans-serif: "Montserrat", sans-serif;
$custom-colors: (
  "v-skyblue": $v-skyblue, 
  "v-yellow": $v-yellow, 
  "v-red": $v-red, 
  "v-blue": $v-blue
  );
$primary: $v-skyblue;

// Bulma's Elements

// Bulma's Component

// Bulma's Layout

// Bulma Tooltip Variables

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/button";
@import "bulma/sass/elements/container";
@import "bulma/sass/elements/content";
@import "bulma/sass/elements/title";
@import "bulma/sass/components/menu";
@import "bulma/sass/components/modal";
@import "bulma/sass/components/navbar";
@import "bulma/sass/grid/columns";
@import "bulma/sass/helpers/_all";
@import "bulma/sass/layout/_all";
@import "bulma-tooltip/src/sass/index.sass";